<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>


    <!-- סרטון רקע -->
    <video autoplay loop muted playsinline id="background-video">
        <source src="{{ url_for('static', filename='videos/moonwalk.mp4') }}" type="video/mp4">
        הדפדפן שלך לא תומך בסרטונים.
    </video>

    <!-- GIF כרקע -->
    <img id="background-gif" src="static/images/static.gif" alt="GIF רקע" />

    <!-- כפתור תמונה להחלפת רקעים -->
    <img id="toggle-background" class="tv-button" src="static/images/next.png" alt="החלף רקע" />



    <!-- נגן אודיו עם הפעלה אוטומטית ולולאה -->
    <audio id="audio-player" autoplay loop>
        <source src="{{ url_for('static', filename='music/Lucy_in_Disguise-1987.mp3') }}" type="audio/mpeg">
        הדפדפן שלך אינו תומך בתגית השמע.
    </audio>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var audioPlayer = document.getElementById('audio-player');
        var playBtn = document.getElementById('play-btn');
        var pauseBtn = document.getElementById('pause-btn');
        var muteBtn = document.getElementById('mute-btn');

        // ניסיון להפעלה אוטומטית
        audioPlayer.play().catch(function(error) {
            console.log('Autoplay blocked:', error);
        });

        // כפתור הפעלת השמע
        playBtn.addEventListener('click', function() {
            audioPlayer.play();
        });

        // כפתור עצירת השמע
        pauseBtn.addEventListener('click', function() {
            audioPlayer.pause();
        });

        // כפתור השתקת השמע
        muteBtn.addEventListener('click', function() {
            audioPlayer.muted = !audioPlayer.muted;
            muteBtn.querySelector('img').src = audioPlayer.muted ? "{{ url_for('static', filename='images/PLAY.png') }}" : "{{ url_for('static', filename='images/mute-icon.png') }}";
        });
    });
    </script>


    <!-- כפתורי פיקסל מותאמים אישית לשליטה בנגן -->
    <div class="music-button">
        <button id="play-btn" class="music-button-left">
            <img src="{{ url_for('static', filename='images/PLAY.png') }}" alt="Play">
        </button>
        <button id="pause-btn" class="music-button-right">
            <img src="{{ url_for('static', filename='images/PUOSE.png') }}" alt="Pause">
        </button>

    </div>


    <div class="centered-container centered-text">
        <h1>
            היי! אני
            <span class="hover-container img" style="color: grey;">
                <strong>שלומי וקנין</strong>
                <img class="image1" src="{{ url_for('static', filename='images/pixelated_image.jpeg') }}" alt="שלומי וקנין">
            </span><br>
            גר בקדמה במחוז דרום, בהכשרתי אני<br>
            <strong class="ripple-effect" style="color: grey">BIM MANAGER</strong><br>
            חובב פייתון, טכנולוגיה על כל גווניה ופיצה מושבע<br>
            <br>
            -נכון להיום אני ה<br>
            <strong class="ripple-effect" style="color: grey">BIM MANAGER</strong><br>
            של משרד האדריכלים
            <span class="hover-container img" style="color: grey;">
                <strong>בר אוריין</strong>
                <img class="image2" src="{{ url_for('static', filename='images/27709490_973625679463046_4043216057836764719_o.png') }}" alt="בר אוריין">
            </span><br>
            <br>
            <br>אני אדם מאוד סקרן, חובב טבע, נגינה
            <br>מוזיקה ורקע שחור ברוויט
            <br>הנה כמה
            <a href="{{ url_for('playlist') }}" class="playlist-link">פלייליסטים</a>
            <br>שעוזרים לי להיות במצב
            <a href="https://he.wikipedia.org/wiki/%D7%96%D7%A8%D7%99%D7%9E%D7%94_(%D7%A4%D7%A1%D7%99%D7%9B%D7%95%D7%9C%D7%95%D7%92%D7%99%D7%94)" target="_blank" style="color: gray; text-decoration: none;">
            <strong>זרימה</strong>
            </a><br>
            <br>
            <a href="static/images/cv_shlomivaknin.pdf" download class="cv-link" style="background-image: url('static/images/cvgif.gif');">
                להורדת קו"ח
            </a>

        </h1>
    </div>

    <!-- כפתור צור קשר -->
    <a href="{{ url_for('contact') }}" class="button">צור קשר</a>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- קישור ל-JavaScript -->




</body>
</html>
