<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/playlist.css') }}">
</head>
<body>

    <!-- GIF כרקע -->
    <img id="background-gif" src="static/images/static.gif" alt="GIF רקע" />

     <div class="centered-container centered-text">
        <h1>
            פלייליסט לבדיקת מודלים<br>
            <iframe style="border-radius:10px" src="https://open.spotify.com/embed/playlist/5l2mVcCuQPxkmkuKwLSc8q?utm_source=generator"
                    width="60%" height="100" frameBorder="" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                    picture-in-picture" loading="lazy"></iframe><br>
            פלייליסט ליום רע<br>
            <iframe style="border-radius:10px" src="https://open.spotify.com/embed/playlist/7twYrvKea5d1W4id2C2zBf?utm_source=generator"
                    width="60%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                    picture-in-picture" loading="lazy"></iframe><br>
            פלייליסט לבניית משפחות<br>
            <iframe style="border-radius:10px" src="https://open.spotify.com/embed/playlist/6CcSEsr0RGcRD5jka4TLUm?utm_source=generator"
                    width="60%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                    picture-in-picture" loading="lazy"></iframe><br>
            פלייליסט לאווירת תכנות<br>
            <iframe style="border-radius:10px" src="https://open.spotify.com/embed/playlist/5wSjC1URo0ACLVsHex9sph?utm_source=generator"
                    width="60%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                    picture-in-picture" loading="lazy"></iframe><br>
            פלייליסט לאווירה כללית<br>
            <iframe style="border-radius:10px" src="https://open.spotify.com/embed/playlist/4SKQ92GbLiTrj9aKzKU9Ln?utm_source=generator"
                    width="60%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
                    picture-in-picture" loading="lazy"></iframe><br>


        </h1>
     </div>

    <div class="top-left-button">
    <a href="{{ url_for('home') }}" class="button" >חזרה</a>
    </div>

</body>
</html>